h1, h2, h3, h4, h5, .amiibo-name {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}
.btn {
  border: none;
  font-family: 'Lato';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
  padding: 25px 60px 25px 120px;
}

.btn-sep:before {
  background: rgba(0,0,0,0.15);
}
/* Button 1 */
.btn-1 {
  background: #3498db;
  color: #fff;
}

.btn-1:hover {
  background: #2980b9;
}

.btn-1:active {
  background: #2980b9;
  top: 2px;
}

.btn-1:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}



.button {

    background-color: #ffffff; /* Green */
    border: none;
    color: #4a4af3;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.button1 {
    background-color: #4a4af3;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.button1:hover {
    background-color: #ffffff;
    color: #4a4af3;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.title {
    text-align: center;
    font-size: 40px;
    color: aqua;
    margin-top: 100px;
    font-weight: 100;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 30px;
    text-align: center;
    transition: all 0.25s;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


.card > img {

    max-height: 20%;
    height: auto;
    margin: auto;
    order: 1;
}

.card > h4 {
    line-height: 40px;
    font-weight: 600;
    font-size: large;
    order: 2;
}

.card > h5 {
    margin: 10px;
    font-weight: 100;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: dimgrey;
    text-align: left;
    overflow: auto;
    order: 3;
}

.card > p {
    padding: 330px;
    height: 220px;
    font-weight: 300;
}

.card > a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db
}

.card button {
    background-color: white;
    border: none;
    color: #4a4af3;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    order: 4;
}

.card button:hover {
    background-color: #4a4af3; /* Green */
    color: white;
}


.search {
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.navbar {
    height: 55px;
}

/*#ribbon {
     background-color: lightgrey;*/
/*background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgb(255,255,255) 25px, rgba(131, 21, 21, 0.5) 40px);*/
/*}

    #ribbon::after {
        content: '';
        background-color: transparent;
        display: block;
        height: 20px;
        width: 50%;
        margin: 0 auto;
        position: relative;
        left: auto;
        margin-top: -40px;
    }

#separator-ribbon {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

    #separator-ribbon .content {
        width: 150%;
        height: 150px;
        margin-left: -25%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

#birthday {
    background-color: lightblue;
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


    #birthday img {
        position: relative;
        margin-top: -30px;
    }

#games {
    background: rgb(255,255,255);
    background: url(../img/bg-02.png), linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(99,196,255,1) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

.card-border {
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

    .card-border:hover {
        transform: scale(1.05);
    }

.text-shadow {
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}

#separator-amiibos {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

    #separator-amiibos .content {
        background: url(../img/bg-03.png);
        width: 110%;
        height: 100px;
        margin-left: -5%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

#separator-amiibos-footer {
    height: 20vw;
}


#amiibos {
    background: url(../img/bg-01.png),url(../img/bg-03.png);
    background-repeat: no-repeat, repeat;
    background-position: bottom center, center center;
    background-size: 100%, auto;
}

.amiibo {
    cursor: pointer;
    transition: all ease-out 0.2s;
}

    .amiibo:hover {
        transform: scale(1.05);
    }

.amiibo-name {
    background-color: rgba(0,0,0,0.4);
    color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

#play {
    background: url(../img/bg-04.png);
    background-color: rgb(255, 255, 219);
    background-size: 40px 40px;
}

#footer {
    background: url(../img/bg-04.png);
    background-color: rgb(224, 144, 24);
    background-size: 50px 50px;
}*/
