{% extends "base.html" %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
{% block content %}
    <ndiv>

        <p><h4>{{ out }}</h4>


        <div class="page-section" align="center">
            <form action="mail" method="post">
                <button type="submit" value="{{ software }}" , name="software_name">
                    Yes
                </button>
            </form>
            &nbsp;&nbsp;
            <form action="redirect" method="post">
                <button type="submit">
                    No, back to Search
                </button>

            </form>
        </div>
    </ndiv>
    </html>
{% endblock %}