{% extends "base.html" %}

{% block content %}
    <ndiv>
        <body>
        <p><h4>Dear Sir or Madam,</h4></p>
        <h4>{{ out }}</h4>
        <h4>Your supervisor will receive a copy of this e-mail and may object to your request. In this case, please notify IT Services.</h4>
        <h4>If you have any questions, please do not hesitate to contact the IT Hotline.</h4>
        <p><h4>Yours sincerely</h4></p>
        <div class="page-section" align="center">
            <form action="redirect" method="post">
                <p><input class="button button2" type="submit" value="Back to Search"/></p>
            </form>
        </div>
        </body>
    </ndiv>
    </html>
{% endblock %}