{% extends "base.html" %}

{% block content %}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Congratulations! </h4>
    <hr>
    <div class="alert alert-light" role="alert">
    <p>Dear Sir or Madam,</p>
    <p class="mb-0">{{ out }}</p>
    <p class="mb-0">Your supervisor will receive a copy of this e-mail and may object to your request. In this case, please notify IT Services.
    If you have any questions, please do not hesitate to contact the IT Hotline.</p>
    <p class="mb-0">Yours sincerely</p>
        <div align="center">
            <form action="redirect" method="post">
                <p><input class="btn btn-outline-secondary" type="submit" value="Back to Search"/></p>
            </form>
        </div>
    </div>
{% endblock %}