{% extends "base.html" %}

        {% block content %}
        &nbsp;
            <div class="page-section" align="center">
                </form>
                <form action="ReadMore" method="post">
                    <p>
                    <div class="form-group">
                        <br class="input-group">
                        <span class="input-group-addon"> Select the language for the description: </span>
                        <select name="Languages" method="GET">
                            <option value="{{ Languages[0] }}" selected>{{ Languages[0] }}</option>
                            {% for Language in Languages[1:] %}
                                <option value="{{ Language }}">{{ Language }}</option>
                            {% endfor %}
                            
                        </select>
                        {% for row in row_data %}
                                {% for col, row_ in zip(column_names, row) %}

                                {% if col == name_column %}
                                    <input type = "hidden" name = "readmore" value = "{{row_}}" />
                                {% endif %}
                                {% endfor %}
                            </div>


                            {% endfor %}
                            </div>
                    </div>
                    </p>
                    <p>
                        <input type="submit">
                    </p>
            </form>
        
        </div>
        
        <!--CARD-->
        <div class="cardResult">
        {% for row in row_data %}
            {% for col, row_ in zip(column_names, row) %}

            {% if col == picture_column %}
            <img width= "300" src= {{row_}} alt="imagen"/>
            {% endif %}
           
            {% if col == name_column %}
            <h4>{{row_}}</h4>
            {% endif %}

            {% if col == description_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == Domain_coulum %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == ApplicationCategory_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == Re_invoicing_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            <!--{% if col == Abstract_en_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == Abstract_de_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == Abstract_it_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == Abstract_fr_column %}
            <h5>{{row_}}</h5>
            {% endif %}-->

            {% if col == name_column %}
            <form action="confirmation" method="post">
                <button type="submit" class="btn btn-outline-primary" value="{{ row_ }}", name="software_name">
                   Order {{ row_ }}
                </button>
            </form>
            {% endif %}

            {% endfor %}
        </div>


        {% endfor %}
        </div>


        {% endblock  %}
