{% extends "base.html" %}

        {% block content %}
        <!--CARD-->
        <div class="container">
        {% for row in row_data %}
        <div class="card2" >
            {% for col, row_ in zip(column_names, row) %}
            
            {% if col == picture_column %}
            <img width= "300" src= {{row_}} alt="imagen"/>
            {% endif %}
           
            {% if col == name_column %}
            <h4>{{row_}}</h4>
            {% endif %}

            {% if col == description_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == Domain_coulum %}
            <h5>{{row_}}</h5>
            {% endif %}

            <!--{% if col == ApplicationCategory_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == Re_invoicing_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == Abstract_en_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == Abstract_de_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == Abstract_it_column %}
            <h5>{{row_}}</h5>
            {% endif %}

            {% if col == Abstract_fr_column %}
            <h5>{{row_}}</h5>
            {% endif %}-->

            {% if col == name_column %}
            <form action="confirmation" method="post">
                <button type="submit" value="{{ row_ }}", name="software_name">
                    {{ row_ }}
                </button>
            </form>
            {% endif %}

            {% endfor %}
        </div>


        {% endfor %}
        </div>


        {% endblock  %}
