<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>

<body>
</form>
<form action="/" method="post">
        <p>
     <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select IT Category: </span>
            <select name="categories" method="GET">
           <option value="{{categories[0]}}" selected>{{categories[0]}}</option>
           {% for category in categories[1:] %}
               <option value="{{category}}">{{category}}</option>
           {% endfor %}
           </select>
    </div>
  </div>
        </p>
    <p>
              <div class="form-group">
        <div class="input-group">
        <span class="input-group-addon">Please select Application Category: </span>
            <select name="appcategories" method="GET" >
           <option value="{{ApplicationCategory[0]}}" selected>{{ApplicationCategory[0]}}</option>
           {% for appcategory in ApplicationCategory[1:] %}
               <option value="{{appcategory}}">{{appcategory}}</option>
           {% endfor %}
           </select>
    </div>
  </div>
        </p>
         <p>
            <label for="search">Search</label>
            <input type="search" name="search">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

<table>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
        {% if col == link_column %}
        <td>
        <form action="mail" method="post">
            <button type="submit" value={{ row_ }}, name="software_name">
                {{ row_ }}
            </button>
        </form>
        </td>
        {% else %}
        <td>{{row_}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}

</table>
</body>