{% extends "base.html" %}

{% block title %} Results {% endblock %}
{% block content %}
<p>
    &nbsp;
<div class="card">
<table>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    {% for row in row_data %}

    <div class="card">
        {% for col, row_ in zip(column_names, row) %}

        {% if col == picture_column %}
        <img src= {{row_}} alt="imagen"/>
        {% endif %}

        {% if col == name_column %}
        <h4>{{row_}}</h4>
        {% endif %}

        {% if col == description_column %}
        <h5>{{row_}}</h5>
        {% endif %}
        {% endfor %}
        <a href="#">Read more</a>
    </div>


    {% endfor %}
    </div>

    {% endblock  %}

</table>
 </div>
</p>
   <!-- {% for col in column_names %}
    {{col}}
    {% endfor %}
    {% for row in row_data %}
    <div class="results">
        {% for col, row_ in zip(column_names, row) %}
        {% if col == link_column %}
        <form action="mail" method="post">
            <button type="submit" value={{ row_ }}, name="software_name">
                {{ row_ }}
            </button>
        </form>
        {% else %}
        {{row_}}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %} -->

{% endblock %}
