<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Searchbar</title>
</head>
<body>
<form class="form-inline" method="POST" >
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select IT Category: </span>
            <select name="categories" method="GET" action="/">
           <option value="{{categories[0]}}" selected>{{categories[0]}}</option>
           {% for category in categories[1:] %}
               <option value="{{category}}">{{category}}</option>
           {% endfor %}
           </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </div>
</form>
<form action="#" method="post">
    <p>Search for Software:
    <input type = "text" name="nm" /></p>
    <p><input type = "submit" value="submit" /></p>
</form>

</body>
</html>