{% extends "base.html" %}
<head>
    {% block head %} {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Searchbar {% endblock %} </title>

    <link rel="stylesheet" href="static/libraries/css/main1.css"/>
    <link rel="stylesheet" href="static/libraries/css/bootstrap.min.css"/>

</head>
{% block content %}

<div class="title">
    <h1>IT Service Catalog</h1>
    <p class="lead">Here you will find all approved software that can be used in the HTI group.
         By ordering a software within this application a ticket request is created automatically and the IT Department will provide you with the needed Software</p>
</div>
<!--SEARCH-->
&nbsp;
<ndiv class="container">
    <div class="page-section" align="center">
        </form>
        <form action="/" method="post">
            <p>
            <div class="form-group">
                <br class="input-group">
                <span class="input-group-addon"> Select IT Category: </span>
                <select name="categories" method="GET">
                    <option value="{{ categories[0] }}" selected>{{ categories[0] }}</option>
                    {% for category in categories[1:] %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;
                <span class="input-group-addon"> Select Application Category: </span>
                <select name="appcategories" method="GET">
                    <option value="{{ ApplicationCategory[0] }}" selected>{{ ApplicationCategory[0] }}</option>
                    {% for appcategory in ApplicationCategory[1:] %}
                        <option value="{{ appcategory }}">{{ appcategory }}</option>
                    {% endfor %}
                </select>
            </div>
            </p>
            <p>
                <label for="search">Search</label>
                <input type="search" name="search">
            </p>
            <p>
                <input type="submit" class="btn btn-outline-secondary">
            </p>
        </form>

    </div>
    <!--SEARCH-->
    <!--CARD-->
    <div class="container">
        <!-- <div class="card">
            <img src="static/libraries/img/SAPIcon.jpg" />
            <h4> SAP</h4>
            <h5> SAP is the central ERP-software for handling business processes within the HTI-Group</h5>
            <a href="#">Read more</a>
        </div>

        <div class="card">
            <img src="static/libraries/img/AdobePhotosopIcon.png" />
            <h4>Adobe Photoshop</h4>
            <h5>Adobe Photoshop provides comprehensive tools for editing, cropping, and retouching photos</h5>
            <a href="#">Read more</a>
        </div>

        <div class="card">
            <img src="static/libraries/img/teamViewerIcon.png" />
            <h4>Teamviewer</h4>
            <h5>Teamviewer is a remote administration tool and is used for customers support</h5>
            <a href="#">Read more</a>
        </div>
        <div class="card">
            <img src="static/libraries/img/adobeCreativeCloudIcon.jpg" />
            <h4>Adobe Creative Cloud</h4>
            <h5>Adobe Creative Cloud is a subscription service consisting of all common Adobe programs for photo and video editing</h5>
            <a href="#">Read more</a>
        </div>

        <div class="card">
            <img src="static/libraries/img/zoomIcon.png" />
            <h4>Zoom Videoconferencing </h4>
            <h5>Zoom is a videotelephony software program that provides a video chatting service</h5>
            <a href="#">Read more</a>
        </div>

        <div class="card">
            <img src="static/libraries/img/autodeskIcon.png" />
            <h4>Autodesk AEC collection</h4>
            <h5>Software to produce complete, consistent and coordinated, model-based projects and documents</h5>
            <a href="#">Read more</a>
        </div> -->
        {% for row in row_data %}

            <div class="card">
                {% for col, row_ in zip(column_names, row) %}

                    {% if col == picture_column %}
                        <img src={{ row_ }} alt="imagen"/>
                    {% endif %}

                    {% if col == name_column %}
                        <h4>{{ row_ }}</h4>
                    {% endif %}

                    {% if col == description_column %}
                        <h5>{{ row_ }}</h5>
                    {% endif %}

                    <div class="buttonOrder">
                    {% if col == name_column %}
                        <form action="ReadMore" method="post">
                            <button type="submit" class="btn btn-outline-primary" value= "{{row_}}"   name="readmore">
                                {{"Read more"}}
                            </button>
                        </form>
                    {% endif %}
                    </div>

                {% endfor %}
            </div>


        {% endfor %}
    </div>

{% endblock %}


