table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 150%;
}

td, th {
    border: 1px solid #763d3d;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e70a0a;
}